.popup-img__close{
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        top: -44px;
        right: -44px;
        border: 0;
        border-radius: 2px;
        box-sizing: border-box;
        background-image: url(../../../images/Close.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        outline: 0;
}

.popup-img__close:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media (max-width: 600px){
    .popup-img__close {
        width: 26px;
        height: 26px;
        top: -39px;
        right: 5px;
        background-image: url(../../../images/CloseMobile.svg);
    }
}