.popup__input{
    display: inline-block;
    width: 358px;
    font-size: 14px;
    line-height: 16.94px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    color: #000000;
    padding: 0 0 13px 0;
    outline: none;
}

@media (max-width: 600px){
    .popup__input{
        width: 238px;
    }
}